.language-go {
  background-color: #ffffff !important;
}

pre > code > span > span {
  font-family: "Source Code Pro", Consolas, "Ubuntu Mono", Menlo,
    "DejaVu Sans Mono", monospace, monospace !important;
  font-size: 14px;
}
